.places {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.places h1 {
    width: 100%;
    font-size: 30px;
    text-align: left;
}
.places article {
    width: 390px;
    width: 40%;
    padding: 20px;
    margin: 20px;
    border: #ff5a5f 1px solid;
    border-radius: 4px; 
}
.places article h2 {
    font-size: 30px;
    text-align: center;
    margin: auto;
}
.headplace{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.price_by_night {
    color: #FF5A5F;
    border: 6px solid #FF5A5F;
    border-radius: 150px;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    margin-bottom: 10px;
}
.price_by_night p {
    margin-top: 15px;
    text-align: center;
}
.max_guest {
    padding-top: 60px;
	width: 100px;	
	background: url(../images/logo_guest.png) no-repeat;
	background-position: center center;
	text-align: center;
}
.number_rooms {
    padding-top: 60px;
    width: 100px;
	background: url(../images/logo_rooms.png) no-repeat;
	background-position: center center;
	text-align: center;
    
}
.number_bathrooms {
    padding-top: 60px;
    width: 100px;
	background: url(../images/logo_bthrm.png) no-repeat;
	background-position: center center;
	text-align: center;
}
.information {
    height: 80px;
    border-top: 1px #dddddd solid;
    border-bottom: 1px #dddddd solid;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

