.places h1 {
    font-size: 30px;
    text-align: left;
}

.places article {
    width: 390;
    padding: 20px;
    margin: 20px;
    border: #ff5a5f 1px solid;
    border-radius: 4px; 
}

.places h2 {
    font-size: 30px;
    text-align: center;
}
